@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

:root {
  --background: radial-gradient(circle, #add8e6 0%, #ffffff 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply flex py-2 px-8 rounded-2xl transition-all ease-in-out duration-300 cursor-pointer min-h-10 text-white hover:scale-105;
  &.button--default {
    @apply bg-black hover:bg-gray-900 hover:bg-gray-950;
  }
}

form {
  input,
  textarea {
    @apply border border-gray-300 bg-white w-full px-8 py-7 rounded-2xl transition-transform ease-in-out duration-300;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border-color: #add8e6;
    box-shadow: 0 0 0 6px rgba(173,216,230,0.12);
    transform: scale(1.03);
  }
  textarea {
    @apply field-sizing-content min-h-12;
  }
}

/* [data-loading="true"] {
  @apply 
} */


